.weather {
  place-self: center;
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #e6a519, #e05b19);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchbar {
  display: flex;
  align-items: center;
  gap: 12px;
}
.searchbar input {
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 20px;
}
.searchbar img {
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  background: #ebfffc;
  cursor: pointer;
}

.weather-icon {
  width: 140px;
  margin: 30px 0;
}

.temperature {
  color: #fff;
  font-size: 60px;
  line-height: 1;
}

.location {
  color: #fff;
  font-size: 30px;
}
.weather-data {
  width: 100%;
  margin-top: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 22px;
}

.weather-data .col span {
  display: block;
  font-size: 16px;
}
.weather-data .col img {
  width: 26px;
  margin-top: 10px;
}
